div {
    border: 1px solid black;
}

#container {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}